<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covid-19 | Error</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Stalinist+One&display=swap" rel="stylesheet">
    <style>
      body{
        background-color: #a2b29f;
        font-family: 'Montserrat', sans-serif;
      }
      footer{
        color: white;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5 p-5">
      <br />
      <div class="alert alert-success" role="alert">
        <center><strong><h1>Oh snap!</h1></strong> <h3><%=error_message%></h3></center>
      </div>
      <br />
      <center><a class="btn btn-light" href="/">Home</a></center>
    </div>
    <footer>Created by Ratan Dheeraj</footer>
  </body>
</html>
